@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar styles */
.navbar-link:hover {
    text-decoration: underline;
}

/* Customize navbar styles */
.navbar-link {
    color: #fff;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #fbbf24; /* Yellow color */
}
